        ol
        {
            background: yellow;
        }
        ul
        {
            background: #ff0000;
            list-style-type: square;
        }
li
{
    color: green;
}